/*COLORS*/
$main-font-color: grey;
$red-color: #e4250d;
//$red-color: #c31718;
$menu-item-border-color:#f7f0f0;
$grey-borders:#eee;


/*FONT STYLES*/

@font-face
{
    font-family: 'Glyphicons Halflings';
    src: url('/public/fonts/glyphicons-halflings-regular.eot');
    src: url('/public/fonts/glyphicons-halflings-regular.svg');
    src: url('/public/fonts/glyphicons-halflings-regular.ttf');
    src: url('/public/fonts/glyphicons-halflings-regular.woff');
    src: url('/public/fonts/glyphicons-halflings-regular.woff2');
}

$font-family: Arial, Verdana, sans-serif;