/*COLORS*/
$main-font-color: grey;
$backgroundheader-color: #fff3e6;
$red-color: #e4250d;
$menu-nav-color:#e12712;
$menu-item-border-color:#f7f0f0;
$background-search-form-color: #fff3e6;


/*FONT STYLES*/
$font-family: Arial, Verdana, sans-serif;

