.l-arrangeview
{
    & .modal-dialog
    {
        & .modal-content
        {
            & .modal-body
            {
                & .l-arrangeview-header
                {
                    width: 100%;
                    background-color: $red-color;
                    display: flex;
                    justify-content: space-between;
                    color:white;
                    font-weight: bold;
                    font-size: 1.5em;
                    padding:1em 0.5em;
                }
                & form
                {
                    padding: 2em 1em 1em 1em;
                    & .contact-me
                    {
                        & > div:first-child span
                            {
                            color:$red-color;
                        }
                        & .buttons
                        {
                            justify-content: space-around;
                            display: flex;
                            & > div
                            {
                                flex-grow: 1;
                                margin-left: 1em;
                                &:first-child
                                    {
                                    margin-left:0;
                                }
                            }
                        }
                    }
                    & .separator-line
                    {
                        border-bottom: 1px solid #D5DBDB;

                    }
                    & .proposed-data
                    {
                        & > div:first-child span
                            {
                            color:$red-color;
                        }
                    }
                    & .form-group > span
                    {
                        padding-top: 0.4em;
                        display: block;
                        color:black;
                        font-weight: bold;
                    }
                }


            }
        }
    }
}
