.l-epc-report
{
    & .modal-dialog
    {
        & .modal-content
        {
            & .modal-body
            {
                & .l-modal-header
                {
                    width: 100%;
                    background-color: $red-color;
                    display: flex;
                    justify-content: space-between;
                    color:white;
                    font-weight: bold;
                    font-size: 1.5em;
                    padding:1em 0.5em;
                }
                & .l-body-epc
                {
                    & .title
                    {
                        font-weight: bold;
                        font-size: 1.5em;
                        margin-top: 0;
                    }
                    padding: 1em;
                    & p,
                    & .l-report-img
                    {
                        margin: 0;
                        margin-top: 1em;
                        & img
                        {
                            width: 100%;
                        }
                    }
                }

            }
        }
    }
}
