.filter-menu-mobile
{
    position: fixed;
    z-index: 7000;
    background-color: white;
    top:0;
    left:-100%;
    width:100%;
    margin:0;
    transition: left 0.5s;
    padding-bottom: 1.5em;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    @media screen and (max-width: 320px) {
        height: 100vh;
    }
    & .filter-menu-left-arrow
    {
        margin-top: -3px !important;
        line-height: 18px !important;
    }
}

.show-mobile-filter-menu
{
    left:0;

}

@media screen and (min-width: 992px) {
    main {
        aside.col-md-3 {
            width: 22%;
        }
        section.col-md-9 {
            width: 78%;
        }
    }

}

.filter-menu
{
    width:100%;
    & .filter-menu-header
    {
        background-color: $red-color;
        color: white;
        & .filter-menu-header-row
        {
            padding:0.3em;
            display: flex;
            justify-content: space-between;
            & .filter-menu-left-arrow
            {
                font-size: 2em;
                line-height: 40px;
                &:before
                    {
                    position:relative;
                    top:4px;
                }
            }
            & .filter-menu-header-list
            {
                list-style: none;
                margin: 0;
                & .filter-menu-header-list-item
                {
                    display: inline-block;
                    &:first-child 
                        {
                        font-size:2em;
                        margin-top: 5px;

                    }
                    &:last-child
                        {
                        margin-left: 14px;
                        font-size:1.5em;
                        font-weight: bold;
                        vertical-align: middle;
                        height: 100%;
                        margin-top: -3px;
                    }
                    .icon-filters {
                        font-size: 22px;
                        vertical-align: middle;
                        margin-left: 8px;
                    }
                }
            }

        }
    }
    & .l-filter-menu
    {
        padding: 35px 1em 1em;
        color:$red-color;
        -webkit-box-shadow: 0 0 2px 1px rgba(0,0,0,.1);
        -moz-box-shadow: 0 0 2px 1px rgba(0,0,0,.1);
        box-shadow: 0 0 2px 1px rgba(0,0,0,.1);
        & .filter-group:nth-child(3)
            {
            & .l-prices-label
            {
                display: flex;
                justify-content:space-between;
            }
        }
        & .filter-group:last-child
            {
            border-top: 1px solid #D5DBDB;
            margin-left: -1em;
            margin-right: -1em;
            margin-bottom: 0;
            & .filter-menu-input-group
            {
                padding-left: 1em;
                padding-right: 1em;
                vertical-align: middle;
                display: flex;
                justify-content: flex-start;
                padding-top: 2em;
                & .apply-filter
                {
                    border: 0;
                    margin: 2px auto 0;
                }

            }
            & .filter-menu-input-group span
            {
                font-size: 1.5em;
                color:grey;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                border:1px solid grey;
                text-align: center;
                padding-top:7px;
                cursor:pointer;
                margin-right: 30px;
            }
        }
        & .filter-group:nth-child(1)
            {
            & .filter-menu-input-group
            {
                display: flex;
                justify-content: space-between;
            }

        }
        & .filter-group:nth-child(4)
            {
            & .filter-menu-input-group
            {
                display: flex;
                justify-content: flex-start;
                flex-wrap: wrap;
            }
            & .filter-menu-group-item
            {
                margin-left: 0.6em;
                &:first-child
                    {
                    margin-left:0;
                }
            }
        }
        & .filter-group:nth-child(5)
            {
            & .filter-menu-input-group
            {
                display: flex;
                justify-content: flex-start;
                .filter-menu-group-item {
                    margin-right: 14px;
                }
            }

        }
        & .filter-group
        {
            margin-bottom: 2em;
            .slide-range, .ui-slider-handle
            {
                cursor:pointer;
            }
            @media screen and (min-width: 992px) {
                .ui-selectmenu-button {
                    width: 100%;
                }
            }
        }
        & .filter-menu-labels
        {
            font-weight: bold;
            margin-bottom: 0.5em;
        }

    }

}

