.main-nav
{
    display: none;
    float: right;
    @media screen and (min-width: 992px)
        {
        margin-top: 35px;
        display: block;
    }
    & .menu-nav
    {
        list-style: none;
        margin:0;
        padding-left: 0;
        height: 100%;
        width: 100%;
        float: right;
        text-align: right;
        & .menu-nav-item
        {
            display: inline-block;
            height: 100%;
            &:not(:last-child) {
                border-right: 1px solid $red-color;
            }
            & a
            {
                color: $red-color;
                text-decoration: none;
                text-transform: uppercase;
                height: 100%;
                line-height: 20px;
                display: block;
                padding: 0 4px;
                margin: 0 8px 0 4px;
                font-weight: 700;
                &:hover, &:focus
                    {
                    cursor:pointer;
                    //color: white;
                    //background-color: $red-color;
                    //border-radius: 999999px;
                }
            }
        }
    }
}
