.main
{
    position: relative;
    padding-bottom: 50px;
    & aside
    {
        margin-top: 1.5em;
    }
    & section
    {
        & .l-results-line
        {
            margin: 0 -15px;
            @media screen and (min-width: 991px)
                {
                display: none;
            }
        }
        & .l-pagination
        {
            width: 100%;
        }
        & .l-results
        {
            display: flex;
            justify-content: space-between;
            padding: 1em 0;
            @media screen and (min-width: 991px) 
            {
                &
                {
                    border-radius: 2px;
                    -webkit-box-shadow: 0 0 1px 1px rgba(0,0,0,.1);
                    -moz-box-shadow: 0 0 1px 1px rgba(0,0,0,.1);
                    box-shadow: 0 0 1px 1px rgba(0,0,0,.1);
                    margin-top: 1.5em;
                    padding: 0.5em 1em;
                }
            } 
            & .my-select
            {
                width: 14em;
            }
            & .l-results-sortby
            {
                flex-grow: 1;
                text-align: end;
                font-size: 1.2em;
                padding-right: 1em;
                display: none;
                span {
                    vertical-align: -webkit-baseline-middle;
                }
                @media screen and (min-width: 480px) 
                {
                    &
                    {
                        display: block;
                    }
                }
            }
            #select-order-by-button {
                span {
                    margin-top: 2px;
                }
            }
            & .results-list
            {
                list-style: none;
                padding: 0;
                margin:0;
                line-height: 28px;
                & .results-list-item
                {
                    display: inline-block;

                    & a {
                        font-size: 22px;
                        color: $main-font-color;
                        vertical-align: -webkit-baseline-middle;
                        &:hover, &.active {
                            color: $red-color;
                        }

                    }
                    span {
                        font-weight: bold;
                        color: $red-color;
                    }
                    & a:not(.icon-thumbnails) {
                        font-size: 20px;
                        margin-right: 6px;
                    }

                    & a.icon-map {
                        @media screen and (max-width: 320px) {
                            font-size: 18px;
                        }
                    }

                    &:first-child
                        {
                        padding-right: 0.2em;
                        @media screen and (min-width: 332px) 
                            {
                            &
                            {
                                padding-right: 1em;
                            }
                        }
                        @media screen and (min-width: 1024px) 
                            {
                            &
                            {
                                border-right: 1px solid grey;
                            }
                        }  
                        vertical-align: middle;
                    }
                    &:nth-child(2)
                        {
                        padding-left: 0.2em;
                        @media screen and (min-width: 332px) 
                            {
                            &
                            {
                                padding-left: 1em;
                            }
                        } 
                    }
                    &:nth-child(3)
                        {
                        padding-left: 0.2em;
                        @media screen and (min-width: 332px) 
                            {
                            &
                            {
                                padding-left: 0.5em;
                            }
                        }
                        span
                        {
                            display: block;
                            font-size: 1.8em;
                            color: $red-color;
                            padding-top: 3px;
                        }
                    }
                    &:nth-child(4)
                        {
                        vertical-align: middle;
                        span
                        {
                            display: block;
                            font-size: 1.5em;
                            padding-top: 3px;
                        }
                    }
                    &:last-child
                        {
                        vertical-align: middle;
                        span
                        {
                            display: block;
                            font-size: 1.5em;
                            padding-top: 3px;
                        }
                    }
                }
            }

        }
    }
}