.l-news
{               @media screen and (min-width: 768px)
                    {
                    display:flex;
                    flex-wrap: wrap;

                }
                & .l-new
                {
                    margin-top: 1em;
                    text-align: justify;
                    & .separator-new
                    {
                        border-bottom: 1px solid #D5DBDB;
                        margin: 0 -1em;
                        margin-top: 1.3em;
                        @media screen and (min-width: 768px)
                            {
                            display: none;
                        }
                    }
                    @media screen and (min-width: 768px)
                        {
                        width: 32%;
                        border: 1px solid #D5DBDB;
                        padding: 1em;
                        padding-top: 0;
                        border-radius: 4px;
                        margin-left: 1em;
                        &:nth-child(3n+1)
                            {
                            margin-left : 0;
                        }
                    }
                    @media screen and (min-width: 1024px)
                        {
                        width: 32%;
                    }
                    @media screen and (min-width: 1428px)
                        {
                        width: 24%;
                        &:nth-child(3n+1)
                            {
                            margin-left : 1em;
                        }
                        &:nth-child(4n+1)
                            {
                            margin-left : 0;
                        }
                    }
                }
                & .l-new-body
                {
                    height: 300px;
                    overflow-y: hidden;
                    & .title
                    {
                        color:$red-color;
                        font-weight: bold;
                        margin-top: 1em;
                        margin-bottom: 0;
                        font-size: 1em;
                        & + p
                        {
                            margin: 0;
                            margin-bottom: 1.3em;
                            font-weight: bold;
                        }
                        @media screen and (min-width: 1024px)
                            {
                            font-size: 1.3em;
                        }
                    }
                    & ul
                    {
                        padding: 0;
                        margin-left: 15px;
                    }
                }
                & .l-new-img
                {
                    margin: 0 -1em;
                    background-color: red;
                    & img
                    {
                        width: 100%;
                    }
                    @media screen and (min-width: 768px)
                        {
                        //margin:0;
                    }
                }
                & .read-more
                {
                    margin-top: 1em;
                }

}